
h1 {
  text-align: center;
}

.ContactsTable-img
{
  height : 100px;
}

.ContactsTable
{
  align-items: center;
  text-align: center;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 10px;
  width: 70vw;
}


thead tr{
  border: 1px solid blue;
}

.ContactsTable-buttonsList
{
  text-align: center;
}

.ContactsTable-buttons
{
  width: 200px;
  height: 50px;
  margin : 10px;
}
